
build-Laaneberegning-Desktop_Qt_6_0_0_clang_64bit-Debug/.qmake.stash
build-Laaneberegning-Desktop_Qt_6_0_0_clang_64bit-Debug/Laaneberegning
build-Laaneberegning-Desktop_Qt_6_0_0_clang_64bit-Debug/Loan.o
build-Laaneberegning-Desktop_Qt_6_0_0_clang_64bit-Debug/main.o
build-Laaneberegning-Desktop_Qt_6_0_0_clang_64bit-Debug/Makefile
.DS_Store
